<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> F </title>
    <link rel='stylesheet' type="text.css" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>     
    <div class="bd-example" align="middle">
    PAGES:
    <p><a href="http://127.0.0.1:5000/helloworld">Hello world</a> 
    <br><a href="http://127.0.0.1:5000/blog">Blog page</a> 
    <br><a href="http://127.0.0.1:5000/blog/blog">Another blog page</a> 
    <br><a href="http://127.0.0.1:5000/dog.wow">Dog page</a> 
    <br><a href="http://127.0.0.1:5000/users/user"> User page: you can switch /user with your name in the URL. ex 127.0.0.1:5000/users/nathan</a> 
    </div>
</body>
</html>


